.jumbotron {
    width: 66%;
    height: 200px;
    font-family: 'Playfair Display', serif;
    background: rgb(38, 30, 90);
    color: white;
    margin-left: 200px;
}

.card{
    width: 66%;
    margin-left: 200px;
    border: solid;
    border-width: 5px;
    border-color: rgb(38, 30, 90);
}
.card-header:first-child {
    background: rgb(38, 30, 90);
    color: white;
    border-radius: 0;
}

img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

.form{
    padding: 10px;
       
}

#return-field{
    width: 66%;
    margin-left: 200px;
    border: solid;
    border-width: 5px;
    border-color: rgb(38, 30, 90);


